# MkDocs build artifacts
site/
.cache/

# Python caches and packaging
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/

# Virtual environments
.venv/
venv/
env/
.env/
pip-wheel-metadata/

# Editors/IDEs
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Logs
*.log

