mkdocs-material
mkdocs-git-revision-date-localized-plugin
jieba
rich
mkdocs-statistics-plugin
mkdocs-toc-plugin
mkdocs-git-revision-date-plugin                                     
mkdocs-material-extensions                
mkdocs-rss-plugin