mkdocs
mkdocs-material
mkdocs-git-revision-date-localized-plugin
jieba
rich
mkdocs-git-revision-date-plugin                                     
mkdocs-material-extensions                
mkdocs-rss-plugin